<div class="top-bar">
  <div class="logo">
    <%= image_tag 'sample.png', :size => '100x55' %>
  </div>
  <nav class="top-navigation">
    <ul class="top-navigation-group">
      <li class="top-navigation-item">住人</li>
      <li class="top-navigation-item">場所</li>
      <li class="top-navigation-item">集計</li>
      <li class="top-navigation-item">設定</li>
      <li class="top-navigation-item">ヘルプ</li>
    </ul>
  </nav>
</div>
<div class="main-area">
  <div class="house-area">
    <div class="house-name">
      家A
    </div>
    <div class="house-place">
      <div class="house-place-image">
        <%= image_tag 'sample.png', :size => '180x100' %>
      </div>
      <div class="house-place-cleanliness">
        清潔度メーターを追加
      </div>
      <div class="house-place-date">
        日付を追加
      </div>
    </div>
  </div>
</div>
