<h1>Houses#show</h1>
<p>Find me in app/views/houses/show.html.erb</p>

<div class="top-bar">
  <div class="logo">
    <%= image_tag 'sample.png', :size => '100x55' %>
  </div>
  <div class="top-navigation">
    <p>住人</p>
    <p>場所</p>
    
  </div>
</div>
